body {
    background-image: url(images/IMG-20251122-WA0002.jpg);
}

nav {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6px;
    margin: 6px 0px;
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.none {
    text-decoration: none;
}

.none:hover {
  background-color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
   border-left: 1px solid #bbbbbb;

}

nav ul li a {
    color: white;
    text-decoration: none;
   font-size: 18px;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 5px 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: white;
    color: purple;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: #f0f0f0;
}

div a {
    text-decoration: none;
}
