body{
    background-color: bisque;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0px 10px;
    margin: 0px 30px;
}

nav {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6px;
    margin: 6px 0px;
   position: fixed;
   width: 100%;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.none {
    text-decoration: none;
}

.none:hover {
  background-color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
   border-left: 1px solid #bbbbbb;

}

nav ul li a {
    color: white;
    text-decoration: none;
   font-size: 18px;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}

.search-container {
    display: flex;
    align-items: center;
    width: 300px;
}


.search-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}


.search-container button {
    padding: 10px 20px;
    border: 1px solid black;
    background: purple;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    opacity: 0.9;
}


div a {
    text-decoration: none;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px 6px;
    margin: 6px 0px;
    margin-top: 40px;
    font-size: 16px;
    width: 100%;
}

.plix {
    text-align: center;
    justify-content: center;
    font-size: 40px;
   font-style: italic;
}